<!-- tableau -->
<div class="container" id="main-container">
    <h3>
        La liste  des profils
        
    </h3>
    <br>
      <button (click)="onOpenModal(null, 'add')" class="btn btn-outline-primary">
        <i class="fas fa-plus"></i>&nbsp;
        Ajouter un profil
      </button>
      <br>
  
 
    <table class="table table-fluid" id="example" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Libellé</th>
                <th scope="col">Actions</th>
 
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let profile of profiles">
                <th scope="row">{{profile.id}}</th>
                <td>{{profile?.libelle}}</td>
                <td><button (click)="onOpenModal(profile, 'edit')" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>&nbsp;
                  <button (click)="onOpenModal(profile, 'delete')" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></td>
            </tr>
            </tbody>
    </table>
 
 </div>
 
 
 
 <!-- Add profile Modal -->
 <div class="modal fade" id="addProfileModal" tabindex="-1" role="dialog" aria-labelledby="addProfileModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="addProfileModalLabel" style="font-weight: 700;">Ajouter un nouveau profil</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #addForm="ngForm" (ngSubmit)="onAddProfile(addForm)">
            <div class="form-row">
               <div class="form-group col-md-6">
                 <label for="libelle">Libellé</label>
                 <input ngModel type="text" class="form-control" id="libelle" name="libelle" placeholder="Libellé" required>
               </div>
             </div>
           
           
           <div class="modal-footer">
              <button type="button" id="add-profile-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Sauvegarder</button>
           </div>
           </form>
        </div>
     </div>
   </div>
 </div>
 <!-- Update profile Modal -->
 
 <div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="profileEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="profileEditModalLabel">Modifier le profil {{editProfile?.libelle}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
 
                <input type="hidden" ngModel="{{editProfile?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <div class="form-row">
                   <div class="form-group col-md-6">
                     <label for="libelle">Libellé</label>
                     <input ngModel ngModel="{{editProfile?.libelle}}" type="text" class="form-control" id="libelle" name="libelle" placeholder="Libellé" required>
                   </div>
                  
                 </div>
                 
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fermer</button>
                   <button (click)="onUpdateProfile(editProfile?.id,editForm.value)" data-dismiss="modal" class="btn btn-primary" >Sauvegarder</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 
 
 
 <!-- Delete profile Modal -->
 <div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Supprimer un profil</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>êtes vous sur de vouloir supprimer le profil {{deleteProfile?.libelle}} ?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button (click)="onDeleteProfile(deleteProfile?.id)" class="btn btn-danger" data-dismiss="modal">Oui</button>
             </div>
          </div>
       </div>
    </div>
  </div>